<div class="main_header">
	<!-- fonts music -->
	<div class="notes_container">
		<ul id="music_notes">
			<li>&#9833;</li>
			<li>&#9834;</li>
			<li>&#9835;</li>
			<li>&#9836;</li>
			<li>&#9833;</li>
			<li>&#9834;</li>
			<li>&#9835;</li>
			<li>&#9836;</li>
			<li>&#9837;</li>
			<li>&#9839;</li>  
			<li>&#9833;</li>
			<li>&#9834;</li>
			<li>&#9835;</li>
			<li>&#9836;</li>
			<li>&#9833;</li>
			<li>&#9834;</li>
			<li>&#9835;</li>
			<li>&#9836;</li>
			<li>&#9837;</li>
			<li>&#9839;</li>  
		</ul>
	</div>
	<!--  -->
	<div class="center_page">
		<div class="links_page">
			<%= link_to new_song_path, :class =>"links_circles cirlce_1" do%>
				<%= image_tag "icon_song.fw.png"%>
			<% end -%>

			<%= link_to new_band_path, :class =>"links_circles cirlce_2" do%>
				<%= image_tag "icon_band.fw.png"%>
			<% end -%>

			<%= link_to "javascript:;" , :class =>"links_circles cirlce_3" do%>
				<%= image_tag "icon_explor.fw.png" %>
			<% end -%>
		</div>
	</div>
</div>
<div class="space_index"></div>

	<div class="panels_user_index">
		<div class="center_page panels_container">
		<div class="left_panel">
			<ul class="notice">
				<% @current_musician.feed_loader.each do |item| %>
					<li>
						<div class="alert_item">
							<%= link_to item[:title], item[:path] %> 
							<br />
							<%= item[:message] %>
						</div>
					</li>
				<% end %>
			</ul>
		</div>

		<div class="right_panel">
			<div class="tab_container">
				<div class="tab_header">
					<h1 class="title">
						Your songs
					</h1>
				</div>
				<div class="tab_items">
					<% @current_musician.songs.limit(10).each do |song| %>
						<div>
							<%= link_to song.name, song_path(song) %>
						</div>
					<% end %>
				</div>
			</div>

			<div class="tab_container">
				<div class="tab_header">
					<h1 class="title">
						Your bands
					</h1>
				</div>
				<div class="tab_items">
					<% @current_musician.bands.limit(10).each do |band| %>
						<div>
							<%= link_to band.name, band_path(band) %>
						</div>
					<% end %>
				</div>
			</div>

			<div class="tab_container">
				<div class="tab_header">
					<h1 class="title">
						Suggested songs
					</h1>
				</div>
				<div class="tab_items">
					<% @current_musician.suggest_newest_songs(10).each do |song| %>
						<div>
							<%= link_to song.name, song_path(song) %>
						</div>
					<% end %>
				</div>
			</div>
		</div>

		<div class="clear"></div>
	</div>
</div>