<div class = "simple_form">
  <%= form_for([@song,@music_sheet]) do |f| %>
    <%= f.hidden_field :notes, style: "display:hidden" %>

    <div class = "vextab-composer">
      <div class = "composer-toolbar">
        <%= render partial: "composer_toolbar" %>
      </div>
      <div id= "composer" class="vex-tabdiv music-sheet-editor" width=700 scale=1.0 editor="true" editor_width=720 editor_height=220><%= @music_sheet.notes %></div>
    </div>
    
    <div class="actions">
      <%= f.submit %>
      <%= button_to "Show music sheet", song_music_sheet_path(song_id: @song.id, id: @music_sheet.id), :method => "get" %>
      <%= button_to "Show all music sheets", song_music_sheets_path, :method => "get" %>
    </div>
  <% end %>
  
  <br /><br />
  <h1 class="title">For more information About the markup language visit <%= link_to "The VexTab Tutorial", "http://vexflow.com/vextab/tutorial.html", target: :blank%> </h1>

  <%= content_for :vextab do %>
    <%= javascript_include_tag "vextab/vexflow-min" %>
    <%= javascript_include_tag "vextab/underscore-min" %>
    <%= javascript_include_tag "vextab/tabdiv-min" %>
  <% end %>
</div>