<%= form_for([@song,@music_sheet]) do |f| %>
  <% if @music_sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@music_sheet.errors.count, "error") %> prohibited this music_sheet from being saved:</h2>

      <ul>
      <% @music_sheet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1> <%= @music_sheet.instrument.name.titleize %></h1>
  <%= f.text_area :notes, style: "display:hidden" %>

  <div class="vex-tabdiv" width=700 scale=1.0 editor="true" editor_width=720 editor_height=220>
    <%= @music_sheet.notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
