<div id="page_container" class="bands">
  <%= render :partial => "header_user_info" , :object =>  @current_musician%>
  <div id = "song_content">
    <p id="notice"><%= notice %></p>
    <div class = "center_page">
      <% if @current_musician.can_edit_song?(@song) %>
        <%= link_to 'Edit', edit_song_path(@song), class: "create_button" %> |
        <%= link_to 'Go to your songs', songs_path, class: "create_button" %>
      <% end %>

      <h1 class = "simple_title"> <%= @song.name.titleize %><%= render :partial => "rocks/rock", :locals => {item: @song} %></h1>

      <p> <%= @song.description %></p>

      <ul class = "tags genre-tags">
        <h3> Genres:</h3><br/>
        <% @song.genres.each do | genre| %>
          <li> <%= genre.name.titleize %></li>
        <% end %>
      </ul>

      <% @song.music_sheets.each do |music_sheet| %>
        <div class = "tab-container">
          <h3> <%= music_sheet.instrument.name.titleize %> <%= render :partial => "rocks/rock", :locals => {item: music_sheet} %></h3>
            <div class="vex-tabdiv" width=700 scale=1.0 editor="false" editor_width=720 editor_height=220><%= music_sheet.notes %></div>
            <div style = "margi-top:5px; margin-bottom:5px;">
              <%= link_to "Edit", edit_song_music_sheet_path(song_id:@song.id, id:music_sheet.id), class: "create_button" %>
            </div>
        </div>
      <% end %>

      <div class = "comments">
        <%= render partial: "/comments/index" %>
      </div>
      <%= content_for :vextab do %>
        <%= javascript_include_tag "vextab/vexflow-min" %>
        <%= javascript_include_tag "vextab/underscore-min" %>
        <%= javascript_include_tag "vextab/tabdiv-min" %>
      <% end %>

      
    </div>
  </div>
</div>