<% index_page = (controller.controller_name == "main" and controller.action_name == "index") ? "index_page" : ""%>


<div id="header" class="<%= index_page%>">
	<div class="center_page">
		<%= link_to "Crwoudly Sound", root_path, :id => "page_logo" %>
		<ul id="menu_items">
			<li>
				<%= link_to "Menu Options", "javascript:;"%>
			</li>
			<li>
				<%= link_to "Menu Options", "javascript:;"%>
			</li>
			<li>
				<%= link_to "Menu Options", "javascript:;"%>
			</li>
		</ul>
		<div class="form_search">
			<form>
			<input type="text">
			<button type="submit" name="btn" value="val">
				<%= image_tag "find.png"%>
			</button>
			</form>
		</div>
	<div class="clear"></div>
	</div>

	
<div class="clear"></div>
</div>
<% if (controller.controller_name == "main" and controller.action_name == "index") %>
<!-- <div class="white_space_header"></div> -->
<% end -%>