<div id="header_profile" data-slide="1" data-stellar-background-ratio="0.5">
    <div class="center_page">
      <%= image_tag "logo_only.png", :class => "user_image" %>

      <div class="info_user">
        <h1 class="title"><%= header_user_info.name %></h1>
          <div>
          <ul id="social_activity">
            <li>
              <%#= render :partial => "musician", :collection => @followings %>
              <h1><%= header_user_info.followings.length %></h1>
              <div class="clear"></div>
              Following
            </li>
            <li>  
              <%#= render :partial => "musician", :collection => @followers %>
              <h1><%= header_user_info.followers.length %></h1>
              <div class="clear"></div>
              Followers
            </li>
            <li class="other">
              <%#= render :partial => "band", :collection => header_user_info.following_bands %>
              <h1><%= header_user_info.following_bands.length %></h1>
              <div class="clear"></div>
              Following bands
            </li>
          </ul>
          </div>
          <div class="clear"></div>
          <div id="follow_user">
          <%#= render :partial => "profile/follow_user" %>
          </div>
      </div>
    <div class="clear"></div>
    </div>
  </div>