<% index_page = (controller.controller_name == "main" and controller.action_name == "index") ? "" : ""%>


<div id="header" class="<%= index_page%>">
	<div class="center_page">
		<%= link_to "Crwoudly Sound", root_path, :id => "page_logo" %>
<!-- 		<ul id="menu_items">
			<li>
				<%= link_to "Menu Options", "javascript:;"%>
			</li>
			<li>
				<%= link_to "Menu Options", "javascript:;"%>
			</li>
			<li>
				<%= link_to "Menu Options", "javascript:;"%>
			</li>
		</ul> -->
		<!-- <div class="form_search">
			<form>
			<input type="text">
			<button type="submit" name="btn" value="val">
				<%= image_tag "find.png"%>
			</button>
			</form>
		</div> -->
		<% if controller.action_name != "what_is_crowdly_sound" %>
			<div class="user_info">
				<%= link_to profile_path, :class => "user_info_header"  ,:data => "no-turbolinkdo" do%>
					<%= image_tag "user_image.png" %>
					<div class="info_complementary">
						<span class="name_user"><%= @current_musician.name %></span>
						<span class="type_user">Musician</span>
					</div>
					<div class="clear"></div>
				<% end -%>
			</div>
		<% end %>
		
		<div class="clear"></div>
	</div>

	
<div class="clear"></div>
</div>
<% if (controller.controller_name == "main" and controller.action_name == "index") %>
<!-- <div class="white_space_header"></div> -->
<% end -%>