<!DOCTYPE html>
<html>
<head>
  <title>CrwoudlySound</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"%>
  <link href='http://fonts.googleapis.com/css?family=Alex+Brush|Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main_container">
	<%= render :partial => "header_page" if controller.action_name != "landing_page"%>
	<%#= render :partial => "menu_header" %>
	<%= yield %>
</div>
<%= yield(:vextab) %>
</body>
</html>
